* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: #f1f2fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .couponContainer {
    height: 150px;
    width: 400px;
    padding: 10px;
    margin-bottom: 1px;
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    box-shadow: 0px 1px 0px 0px rgba(140, 132, 132, 0.2),
      1px 4px 6px 0px rgba(60, 57, 57, 0.29);
    header {
      font-size: 1.2em;
      color: #242440;
    }
  }
  .removable {
    height: 200px;
    width: 400px;
    display: flex;
    .leftSide {
      width: 200px;
      height: 150px;
    }
    .rigthSide {
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: flex-start;
    }
    .contactDetails {
      width: 60px;
      margin-right: 3px;
      height: 200px;
      background-color: #fff;
      box-shadow: -1px 6px 6px 4px rgba(179, 172, 172, 0.2),
        1px 2px 5px 0px rgba(142, 122, 122, 0.29);
      position: relative;
      .info {
        transform: rotate(90deg) translate(43px, 71px);
        position: absolute;
        width: 200px;
        height: 60px;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .couponContainer {
      height: 300px;
      width: 90%;
    }
    .removable {
      height: 300px;
      width: 90%;
    }
  }
}
